doctype html
html(ng-app="app")
	head
		title I
		link(rel="stylesheet", href="//getbootstrap.com/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="//getbootstrap.com/dist/css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="http://t4t5.github.io/sweetalert/dist/sweetalert.css")
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/chart.css')
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js")
		script(src="http://code.jquery.com/jquery-1.11.3.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js")
		script(src="https://lodash.com/_js/lodash.min.js")
		script(src="http://t4t5.github.io/sweetalert/dist/sweetalert.min.js")
		script(src="/js/chart.js")
		script(src='/js/app.js')
	body(ng-controller="ctrl")
		.navbar.navbar-default.navbar-static-top
			.container
				a.navbar-brand(href="javascript:void(0);") Jorge Adolfo's In-Sight
		
		.container
			ul.nav.nav-tabs
				li(ng-class="{'active': currenttab==0}")
					a(href="javascript:void(0);" ng-click="set(0)") List View
				li(ng-class="{'active': currenttab==1}")
					a(href="javascript:void(0);" ng-click="set(1)") Burndown Chart
				li(ng-class="{'active': currenttab==2}")
					a(href="javascript:void(0);" ng-click="set(2)") Settings
		.container(ng-show="currenttab==0")
			h2 Puntos: 
				small {{info.done}}/{{info.total}} 
				| | Due: 
				small  {{info.finish | date:"EEE dd, MMM '@' h:mma"}}
			table.table.table-hover.table-striped
				thead
					th Name
					th Type
					th State
					th Estimate
					th When
				tbody
					tr(ng-repeat="story in stories")
						td(ng-click="showinfo(story)") 
							a(href="{{story.url}}" target="_blank") {{story.name}}
						td {{story.story_type}}
						td(ng-class="{'bg-success': story.current_state=='accepted', 'bg-warning': story.current_state=='delivered', 'bg-info': story.current_state=='finished', 'bg-default': story.current_state=='started'}") {{story.current_state}}
						td(style="text-align:center;") {{story.estimate || "-"}}
						td {{story.accepted_at | date:"EEE dd, MMM"}}
		.container(ng-show="currenttab==1")
			svg(id="visualisation" width="1000" height="500" class="chart")
		.container(ng-show="currenttab==2")
			h2 Prefs
			form.col-sm-4(ng-submit="refresh(info.number)")
				.form-group
					label Token
					input.form-control(placeholder="Token" ng-model="token")
				.form-group
					label Project
					select.form-control(ng-model="selectProject" ng-options="project as project.name for project in projects track by project.id")
				.form-group
					label Iteration
					input.form-control(type="number" placeholder="Iteration" ng-model="info.number")
				.form-group
					button.btn.btn-block.btn-primary Update
				.form-group
					a.btn.btn-block.btn-info(href="javascript:void(0);" ng-click="updateToken()") token
			//- form.col-sm-4(ng-submit="refresh(info.number)")
				//- .form-group
					label Token
					input.form-control(placeholder="Token")
				.form-group
					label Project
					select.form-control
						option(ng-repeat="project in projects")
							td {{ project.name }}
				.form-group
					label Iteration
					input.form-control(type="number" placeholder="Iteration" ng-model="info.number")
				.form-group
					button.btn.btn-block.btn-primary Update



































